@import "reset.css";
@import "normalize.css";

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

body {
	font: normal 14px 'Open Sans', Arial, sans-serif;
	color: #999;
	background: #f1f1f1;
}
/* style for the body */

.wrap {
	width: 400px;
	margin: 0 auto;
}
/* other box styles */

.task-list {
	width: 88%;
	min-height: 300px;
	background: #fff;
	box-shadow: 2px 2px 0px #ddd;
	margin-top: 20px;
	padding: 22px 6%;
}
/* design for task list box*/

a {
	text-align: right;
	margin-right: 30px;
	padding: 15px;
	text-decoration: none;
	color: #999;
}

.links {
	margin-left: 1000px;
	padding: 15px;
}

.form {
	margin: 0px 0px 0px 535px;
}

.align {
	text-align: center;
}

.submitbutton {
	margin-left: 115px
}
